{% extends 'base.html' %}

{% block content %}
<h1>Главная</h1>
<p class="pb-5">Вы находитесь на сайте, предназначенном для продажи товаров.</p>
<div class="row row-cols-1 row-cols-md-4 d-flex justify-content-center">
    {% for product in products %}
    <div class=" card text-center px-0 mx-2 mb-2">
        <div class="card-header">
            <h5>{{ product.name }}</h5>
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ product.price }}</h2>
            <p class="card-text">{{ product.description|truncatechars:100 }}</p>
            <a href="#" class="btn btn-primary">Купить</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


