<div class="d-flex flex-column" style="height: 100vh;">
    <h4 class="mt-2 ms-3">Меню</h4>
    <div class="py-2 mb-3">
        <hr class="my-0">
    </div>
    <div class="list-group ms-2 ">
        <a href="" class="list-group-item list-group-item-action list-group-item-dark">Главная</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Категории</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Заказы</a>
        <a href="contacts/" class="list-group-item list-group-item-action list-group-item-dark">Контакты</a>
    </div>
    <div class="dropdown fixed-bottom ms-2 mb-2">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Пользователь
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li><a class="dropdown-item" href="#">Выход</a></li>
        </ul>
    </div>
</div>

