{% extends 'base.html' %}

{% block content %}
<h1>Список товаров</h1>
<div class="row row-cols-1 row-cols-md-4 d-flex justify-content-center mt-5">
    {% for product in products_by_category %}
        {% if product.publication_status %}
            <div class=" card text-center px-0 mx-2 mb-2">
                <div class="card-header">
                    <h5>{{ product.name }}</h5>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{ product.price }}</h2>
                    <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                    <a href="#" class="btn btn-primary">Купить</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}